.exp-section {
    display: flex;
}

.exp-section, .proj-section {
    padding: 20px 15px;
}

.exp-left {
    width: 30%;
}

.exp-right {
    width: 70%;
}

.exp-section:hover, .proj-section:hover {
    border-radius: 8px;
    background-color: rgb(206, 231, 241);
    cursor: pointer;
    transition: background-color 1s ease;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.company-name {
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: 400ms;
}
.exp-section:hover .company-name {
    text-decoration-color: black;
}

.exp-section h4, .proj-section h4 {
    margin: 0;
    margin-bottom: 2px;
}


@media only screen and (max-width: 600px) {
    .exp-section {
      flex-direction: column;
      height: auto;
      overflow-y: scroll;
    }

    .exp-left, .exp-right {
        width: 100%;
    }

    .exp-left h4 {
        font-size: 0.7rem;
        margin-bottom: 10px;
    }
  }