.exp-section {
    display: flex;
    padding: 10px 15px;
}

.exp-left {
    width: 30%;
}

.exp-right {
    width: 70%;
}

.exp-section:hover {
    border: 0.5px solid #ffffff;
    border-radius: 8px;
    background-color: #eeeeee;
    cursor: pointer;
}

.exp-section h5 {
    margin: 0;
    margin-bottom: 2px;
}